{% extends "base.html" %}

{% block title %}Teacher Gradebook{% endblock %}

{% block content %}

<section class="teacher-gradebook">

<h2>Grades for Assignment</h2>
{% for grade in grades %}
<table>
  <tbody>
    <tr>
      <th class="th3">student</th>
      <th class="th3">points</th>
      <th class="th3">possible</th>
      <th class="th3">grade</th>
    </tr>
    <tr>
      <td>{{grade['name']}}</td>
      <td>{{grade['points_received']}}</td>
      <td>{{grade['total_points']}}</td>
      <td>{{grade['submission']}}</td>
      <td><a class="course-options-item" href="{{ url_for('main.input_grade', grade_id=grade['grade_id'],
  assignment_id=assignment_id, session_id=session_id, course_id=course_id) }}">input grade</a></td>
{% endfor %}
    </tr>
    </tbody>
  </table>
</section>


{% endblock %}
