{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<h2>Course</h2>
<ul>
  {% for course in courses %}
  <li>
  <p>{{course['major'] }} {{ course['course_number'] }}-{{ course['name'] }}</p>
  <p>Description: {{ course['description'] }}</p>
  </li>
  {% endfor %}
</ul>
<h3>Sessions</h3>
{% for course in courses %}
{% if g.users['role'] == 'teacher' %}
<a href="{{ url_for('sessions.create_session', course_id=course['id']) }}"><input type="button" value="Create a session"></a>
{% endif %}
<ul>
  {% for session in sessions %}
  <li>
  <p>Name: {{ session['name'] }}, Times: {{ session['times'] }}</p>
  <a href="{{ url_for('sessions.view_session', course_id=course['id'], session_id=session['id']) }}"><input type="button" value="View Session"></a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
