{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<ul class='nav-builder'>
  <li>
    <a class="nav-dynamic" href="{{ url_for('auth.home') }}">Home></a>
  </li>
  {% if g.user['role'] == 'teacher' %}
  <li>
    <a class="nav-dynamic" href="{{ url_for('courses.courses') }}">{{ course_name }}></a>
  </li>
  <li>
    <a class="nav-dynamic" href="{{ url_for('sessions.sessions', course_id=course_id) }}">{{ section }}></a>
  </li>
  {% elif g.user['role'] == 'student' %}
  <li>
    <a class="nav-dynamic" href="{{ url_for('sessions.sessions', course_id=course_id) }}">{{ course_name}} - {{ section }}></a>
  </li>
  {% endif %}

  <li class="nav-static">Assignments</li>
</ul>

<h1>{{ course_section }}</h1>


{% if g.user['role'] == 'teacher' %}
  <a class='fake-button' href="{{ url_for('assignments.assignments_create', course_id=course_id, section=section) }}">Create New Assignment</a>
  <a class='fake-button' href="{{ url_for('grades.grades', course_id=course_id, section=section) }}">Grade</a>
{% endif %}

<ul class='assign-ul'>
{% for assignments in student_assignments %}

  <li class='assign-li'>
    {{ assignments["name"] }} ({{ assignments["points"] }} Points)
  </li>

{% endfor %}
</ul>



{% endblock %}
