{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<h1>{{ coursename }}</h1>
<p class='assign-title'>Assignments</p>

{% if g.user['role'] == 'teacher' %}
  <a class='fake-button' href="{{ url_for('assignments.assignments_create', course_id=course_id, section=section) }}">Create New Assignment</a>
{% endif %}

<ul class='assign-ul'>
{% for assignments in student_assignments %}

  <li class='assign-li'>
    {{ assignments["name"] }} ({{ assignments["points"] }} Points)
  </li>

{% endfor %}
</ul>

{% endblock %}
