{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<h1>Edit course</h1>

<form method="post">
  <label for="cour_name">Course Name
  <input type="text" id="cour_name" name="cour_name" value="" required>
  </label>

  <label for="cour_num">Course Number
  <input type="number" id="cour_num" name="cour_num" min="100" max="999" value="" required>
  </label>

  <label for="cour_maj">Major
  <input type="text" id="cour_maj" name="cour_maj" value="" required>
  </label>

  <label for="cour_cred">Credits
  <input type="number" id="cour_cred" name="cour_cred" min="1" max="4" value="" required>
  </label>

  <label for="cour_desc">Description
  <textarea id="cour_desc" name="cour_desc" rows="5" cols="33" required></textarea>
  </label>

  <input type="submit" value="Submit">
</form>
{% endblock %}
