{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<form method="post">
  <label for="section">Section
    <input name="section" id="section" maxlength="1">
  </label>
  <label for="end">Meeting Time
    <input type="time" name="meeting" id="meeting">
  </label>
  <label for="location"> Location
    <input name="location" id="location">
  </label>

  <p>add students to roster</p>
  <ul>
    {% for student in all_students %}
    <li>
      <label class='students' for="students">{{student[3]}}</label>
      <input type="checkbox" id="students" name="students" value="{{student[3]}}">
    </li>
    {% endfor %}
  </ul>


  <input type="submit" value="Register">

</form>

{% endblock %}
