{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<h1>Enter Grades</h1>
<p>{{ name }}</p>

<table class='table-whole'>

  <thead class='table-head'>
    <tr class='table-head'>
      <th class='table-headers'>Name</th>
      <th class='table-headers'>Points</th>
      <th class='table-headers'>Total</th>
      <th class='table-headers'>Submit</th>
    </tr>
  </thead>

<tbody class=''>

    {% for student in students %}
    <tr class=''>
      <form method="post">


        <label for="grade">
        <td>{{ student['name'] }}</td>

        <td>
          <input class='grade-input' type="number" id="grade" name="grade" value='' required>
        </td>

        <input type="hidden" name="student" value="{{ student['id'] }}">

        <td>/{{ points }}</td>
        </label>


        <td><input class='grade-submit' type="submit" value="Enter"></td>
      </form>
  </tr>
    {% endfor %}


  </tbody>
</table>

{% endblock %}
