{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<h1 class='grade-title'>Enter Grades</h1>
<p class='grade'>{{ name }}</p>

<table class='table-whole'>

  <thead class='table-head'>
    <tr class='table-head'>
      <th class='table-headers'>Name</th>
      <th class='table-headers'>Points</th>
      <th class='table-headers'>Total</th>
      <th class='table-headers'>Submit</th>
    </tr>
  </thead>

  <tbody class=''>
    {% for student in students %}
    <tr class=''>
      <form method="post">

        <label class='grade' for="grade">

          <td class='grade-row'>{{ student['name'] }}</td>

          <td class='grade-row'>
            {% if grades_dict[student['id']] %}
            {{ grades_dict[student['id']] }}
            {% else %}
            <input
              class='grade-input' type="number"
              id="grade" name="grade"
              value=''
            required>
            {% endif %}
          </td>

          <input type="hidden" name="student" value="{{ student['id'] }}">

          <td class='grade-row'>/{{ points }}</td>

        </label>


        <td>
          <input
            class='grade-submit'
            type="submit"
            value="Enter">
        </td>
      </form>
    </tr>
    {% endfor %}
  </tbody>

</table>


{% endblock %}
