{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}

<p>welcome {{session['user'][3]}} to portal you are a {{session['user'][4]}}</p>

{% if g.user['role'] == 'teacher' %}
<a class="fake-button" href="{{ url_for('courses.courses') }}">Courses</a>
{% endif %}

{% if g.user['role'] == 'student' %}
<a href="{{ url_for('sessions.sessions') }}">Sessions</a>
{% endif %}
<p>welcome {{g.user['name']}} to portal you are a {{g.user['role']}}</p>

{% endblock %}
