{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<ul class='nav-builder'>
  <li><a class="nav-dynamic" href="{{ url_for('auth.home') }}">Home></a></li>
  {% if g.user['role'] == 'teacher' %}
    <li><a class="nav-dynamic" href="{{ url_for('courses.courses') }}">{{ course_name }}></a></li>
  {% endif %}
  <li class="nav-static">Sessions</li>
</ul>

<h1>Sessions</h1>

<p class='assign-title'>{{ course_section }}</p>

{% if g.user['role'] == 'teacher' %}

<a class='fake-button' href="{{ url_for('sessions.session_create', course_id=course_id) }}">Create New Session</a>

<ul>
{% for class in sessions %}
<li class="session-li">
  <a class="session" href="{{ url_for('sessions.session_view', class=class, course_id=course_id, section=sections[loop.index0]) }}">{{ class }} - {{sections[loop.index0]}}</a>
  <a class='fake-button'  href="{{ url_for('assignments.assignments', course_id=course_id, section=sections[loop.index0]) }}">Assignments</a>
</li>
{% endfor %}

{% elif g.user['role'] == 'student' %}
{% for class in sessions %}
<li class="session-li">
  <a class="session" href="{{ url_for('sessions.session_view', class=class, course_id=course_id[loop.index0], section=sections[loop.index0]) }}">{{ class }} - {{sections[loop.index0]}}</a>
  <a  class='fake-button' href="{{ url_for('assignments.assignments', course_id=course_id[loop.index0], section=sections[loop.index0]) }}">Assignments</a>
</li>
  {% endfor %}
{% endif %}

</ul>
  {% endblock %}
