{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<ul class='nav-builder'>
  <li><a class="nav-dynamic" href="{{ url_for('auth.home') }}">Home></a></li>
  <li><a class="nav-dynamic" href="{{ url_for('courses.courses') }}">{{ course_name }}></a></li>
  <li class="nav-static">Sessions</li>
</ul>

<h1>Sessions</h1>

<p class='assign-title'>{{ course_section }}</p>

<a class='fake-button' href="{{ url_for('sessions.session_create', course_id=course_id) }}">Create New Session</a>

<ul>
  {% for teacher_sessions in all_teacher_sessions %}
  <li class="session-li">
    <a class="session" href="{{ url_for('sessions.session_view', classname=teacher_sessions[1], course_id=teacher_sessions[0], section=teacher_sessions[2]) }}">{{ teacher_sessions[1] }} - {{ teacher_sessions[2] }}</a>
    <a class='fake-button' href="{{ url_for('assignments.assignments', course_id=teacher_sessions[0], section=teacher_sessions[2]) }}">Assignments</a>
    <a class='fake-button' href="{{ url_for('grades.view_session_grades', course_id=teacher_sessions[0], section=teacher_sessions[2],classname=teacher_sessions[1]) }}">All Grades</a>
  </li>
  {% endfor %}

</ul>
{% endblock %}