{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<ul class='nav-builder'>
  <li><a class="nav-dynamic" href="{{ url_for('auth.home') }}">Home></a></li>
  <li class="nav-static">Sessions</li>
</ul>

<h1>Sessions</h1>

<ul>
{% for class_session in all_student_sessions %}
<li class="session-li">
  <a class="session" href="{{ url_for('sessions.session_view', classname=class_session[0], course_id=class_session[1], section=class_session[2]) }}">{{ class_session[0] }} - {{ class_session[2] }}</a>
  <a class='fake-button'  href="{{ url_for('assignments.assignments', course_id=class_session[1], section=class_session[2]) }}">Assignments</a>
</li>
{% endfor %}
</ul>
{% endblock %}
