{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<h1>Viewing: {{ course['name'] }}</h1>

<div class="button-group">
  <a class="fake-button" href="{{ url_for('courses.courses_edit', cour_id=course.id) }}">Edit Course</a>
  <form class="button" action="{{ url_for('courses.courses_delete') }}" method="post">
    <button type="submit" class="fake-button" name="course_to_delete" value="{{ course.id }}">Delete Course</button>
  </form>
</div>


<ul class="course-list">
  <li>Course Description:</li>
    <p>{{ course['description'] }}</p>
  <li>Course Number:</li>
    <p>{{ course['num'] }}</p>
  <li>Course Major:</li>
    <p>{{ course['major'] }}</p>
  <li>Course Credits:</li>
    <p>{{ course['credits'] }}</p>
</ul>

{% endblock %}
