<!-- This page is the first page a student user sees when they login -->
{% extends "layouts/base.html" %}

{% block title %}TSCT student{% endblock %}

{% block content %}

  <section>
    <!-- Greets user -->
    <h2>Hello <span class="greetingname">{{ g.user['first_name']}}!</span></h2>
  </section>

  <!-- Shows scheduling for classes -->
  <section id="schedule">
    {% if g.user %}
    <h2>Schedule:</h2>
      <ul>
        {% for scheduling in courses %}
          <li>
            {{ scheduling['course_name'] }}
            {{ scheduling['course_code'] }},
            {{ scheduling['session_name'] }},
            {{ scheduling['meeting_days'] }},
            {{ scheduling['meeting_time'] }},
            {{ scheduling['meeting_place'] }}
            <form method="post">
              <button type="submit" name="session_id" value="{{ scheduling['id'] }}" formaction="{{ url_for('student.assignments') }}">Assignments</button>
              <button type="submit" name="session_id" value="{{ scheduling['id'] }}" formaction="{{ url_for('student.grades') }}">Grade</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endblock %}
