{% extends "base.html" %}

{% block title %}Create New Course{% endblock %}

{% block content %}

<section class="teacher_forms">

  <form class="teacher_home_form" method="post">
    <label class="form-label" for="major">assign major to new course:


    <select name="majors" class="major-dropdown">
    {% for major in majors %}
    <option value="{{ major['name'] }}">{{ major['name'] }}</option>
    {% endfor %}
    </select>
    <label for="new_course">new course name:
      <input type="new_course" name="new_course" placeholder="ex MATH 267" required/>
    <label for="credits">credit hours:
      <input type="int" name="credits" placeholder="3" required>
      <span>course description:</span>
      <textarea class="course-description" name="course_description" placeholder="Enter description here"></textarea>

      <input class="submit" type="submit" value="create new course" />
    </form>

  </section>

  {% endblock %}
