{% extends "base.html" %}

{% block title %}Create New Course{% endblock %}

{% block content %}

<section class="teacher_forms">

  <form class="teacher_home_form" method="post">
    <label for="major">What Major does the new course belong to?


    <select name="majors" class="major-dropdown">
    {% for major in majors %}
    <option value="{{ major['major_id'] }}">{{ major['name'] }}</option>
    {% endfor %}
    </select>
    <label for="new_course">What will be the new course's name?
      <input type="new_course" name="new_course" required/>
      <span>Course Description:</span>
      <textarea class="course-description" name="course_description">Enter description here</textarea>

      <input type="submit" value="Create New Course" />
    </form>

  </section>

  {% endblock %}
