{% extends 'base.html' %}

{% block title %}Edit Courses{% endblock %}

{% block content %}

<section class="teacher_forms">
<form class="teacher_home_form" method="post">

  <label class="form-label" for="new_course">edit course name:</label>
    <input type="new_course" name="new_course" value="{{ course['name']}}" required />
    <span class="form-label">course description:</span>
    <textarea class="course-description" name="course_description">{{ course['description']}}</textarea>
    <input class="submit" type="submit" value="submit changes"/>
  </form>
  <form class="course-list-action" action="{{ url_for('course.delete', id=course['course_id']) }}" method="post">
    <button type="Submit" name="edit" class="course-button">delete</button>
  </form>
</section>
{% endblock %}
