{% extends "base.html" %}

{% block title %}{{ course['name'] }}{% endblock %}

{% block content %}
<h2>Course Information</h2>
<h3><span class="course-view">course id:</span>{{ course['course_id']}}</h3>
<h3><span class="course-view">teacher:</span>{{ course['teacher_name']}}</h3>
<h3><span class="course-view">major:</span>{{ course['major'] }}</h3>
<section class="course-description">
  <h3><span class="course-view">course description:</span></h3>
    <p class="content">{{ course['description'] }} </p>
    <form class="course-list-action" action="{{ url_for('session.view_sessions', id=course['course_id']) }}" method="get">
      <button type="Submit" name="edit" class="course-button">sessions</button>
    </form>
    {% if g.user['id'] == course['teacherid'] %}
    <form class="course-list-action" action="{{ url_for('course.edit', id=course['course_id']) }}" method="get">
      <button type="Submit" name="edit" class="course-button">edit</button>
    </form>
    {% endif %}
</section>

{% endblock %}
