{% extends "base.html" %}

{% block title %}View Course{% endblock %}

{% block content %}
<h2>Course Information</h2>
<article class="course">
  <header class="courses-main">
  <div class="course-table-header">course name: {{ course['name'] }}</div>
  <div class="course-table-header">course number: {{ course['course_id']}}</div>
  <div class="course-table-header">teacher: {{ course['teacher_name']}}</div>
  <div class="course-table-header">major ID:  {{ course['major'] }}</div>
  </header>

    <p class="course-content">{{ course['description'] }} </p>
    {% if g.user['id'] == course['teacherid'] %}
    <form class="course-list-action" action="{{ url_for('portal.edit', id=course['course_id']) }}" method="get">
      <button type="Submit" name="edit" class="course-button">Edit This Course</button>
    </form>
      {% endif %}
</article>

{% endblock %}
