{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<h1>Welcome to The Thaddeus Stevens College of Technology Portal</h1>
<p>This is your users page where you have link to get all over the site</p>
<p>Here is some smaple text to see how the text will look Lorem ipsum dolor sit amet,
  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Lectus nulla at volutpat diam ut venenatis tellus. Rutrum quisque non tellus orci ac auctor.
  Quis blandit turpis cursus in hac habitasse platea dictumst. Euismod lacinia at quis risus sed vulputate odio ut enim.
  Vulputate odio ut enim blandit volutpat maecenas volutpat. Viverra nibh cras pulvinar mattis nunc sed blandit. At lectus urna duis convallis.
  Nisl tincidunt eget nullam non. Ut placerat orci nulla pellentesque dignissim enim sit.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus nulla at volutpat diam ut venenatis tellus. Rutrum quisque non tellus orci ac auctor.
  Quis blandit turpis cursus in hac habitasse platea dictumst. Euismod lacinia at quis risus sed vulputate odio ut enim. Vulputate odio ut enim blandit volutpat maecenas volutpat.
  Viverra nibh cras pulvinar mattis nunc sed blandit. At lectus urna duis convallis. Nisl tincidunt eget nullam non. Ut placerat orci nulla 
  pellentesque dignissim enim sit.</p>
{% endblock %}
