{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<p>You are logged in</p>
{% if g.users['role'] == 'teacher' %}
<p>You are a teacher</p>
<a href="{{ url_for('portal.create_course') }}"><input type="button" value="Create a course"></a>
<ul>
  {% for course in courses %}
  <li>
  {{ course['course_number'], course['name'], course['major'] }}
  {% if g.users['id'] == course['teacher'] %}
  <a href="{{ url_for('portal.update_course', id=course['id']) }}"><input type="button" value="Update a course"></a>
  {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
