{% extends 'layouts/base.html' %}

{% block content%}

<header>

  <h2>Assignment Management</h2>
  <a href="{{ url_for('session_editor.session_manage', id=session['course_id'], session_id=session['id'])}}">Back</a>

</header>

<section>

  <h3>Assignments for {{ session['name'] }}</h3>

  <ul>

    {% for assignment in assignments %}

      {% if assignment['sessions_id'] == session['id'] %}

      <li>{{ assignment['assign_name'] }}
        <a href="{{url_for('assign.assign_edit',id=assignment['session_id'], sessions_id=assignment['id'])}}">Edit</a>

        <a href="{{url_for('assign.assign_veiw',id=assignment['session_id'], sessions_id=assignment['id'])}}">View</a>

      </li>

      {% if not loop.last %}
        <hr>
      {% endif %}

      {% endif %}

    {% endfor %}


  </ul>

  <h4>Click the + below to create a new assignment</h4>

  <a href="{{ url_for('assign.assign_create', id=session['course_id'], sessions_id=session['id'])}}">+</a>

</section>

{% endblock %}
