/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  margin: 2rem auto;
  text-align: center;
  padding: 10px;
}


article.home_page h2 {
   background-color:#8B1E41;
   margin: 2rem auto;
   text-align: center;
}

/**
 * Layout
 */
body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

header {
  background-color: #8B1E41;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
}

div.logout {
  align-items: center;
  color: white;
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
}

div.logout a {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  color: #8B1E41;
  margin-left: 2rem;
  padding: 5px 10px;
  text-decoration: none;
}

div.logout a:active {
  box-shadow: inset 2px 2px 2px black;
}

footer {
  background-color: #8B1E41;
}

address p {
  color: white;
  text-align: center;
}

address p a {
  color: white;
}

address p a:hover {
  color: blue;
}

article.roster {
  border: 1px solid #8B1E41;
  margin-bottom: 2rem;
}

article.roster header {
  margin: 0;
}

article.roster h2 {
  background-color: #8B1E41;
  margin: 0;
  padding: .5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.roster li {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
}

ul.roster li:nth-child(2n) {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15pt;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
  color: #8B1E41;

}

a.back:hover {
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

section.teacher_courses h3,
section.courseSession h3,
section.assignments h3, h4,
section.courseSession h4 {
  background-color: #8B1E41;
  font-size: 28px;
  margin: 0;
}

section.teacher_courses li,
section.assignments li,
section.courseSession li {
  align-items: center;
  border: 1px solid #8B1E41;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.teacher_courses h4 ,
section.assignments li h4,
section.courseSession li h4 {
  background-color: white;
  color: #8B1E41;
  font-size: 24px;
  margin: 1rem;
}

div.links {
  margin-bottom: 1rem;
}


span.underline {
  text-decoration: underline;
}

header.submissions {
  margin-bottom: 0;
}

ul.submissions {
  border: 1px solid #8B1E41;
  margin-bottom: 1rem;
}

ul.submissions li {
  align-items: center;
  border: 1px solid #8B1E41;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
}

ul.submissions li:nth-child(2n) {
  background-color: lightgrey;
}

table, th, td {
  border: 2px solid #8B1E41;
}

th {
  background: #8B1E41;
  color: white;

}


@media (min-width: 760px) {
  h1, h2, h3, h4, h5, h6 {
    margin-left: 1rem;
    text-align: left;
  }

  header {
    flex-direction: row;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer h2,
  footer address {
    width: 40%;
  }

  address p {
    text-align: left;
  }

  section.teacher_courses li,
  section.assignments li,
  section.courseSession li {
    flex-direction: row;
  }

  div.links {
    margin: 0;
  }

  article.home_page h2 {
     background-color:#8B1E41;
     margin: 2rem auto;
     text-align: justify;
  }


}



/**
*Error Pages
*/

div.error_pages {
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  background: #8B1E41;
}

div.error_pages a:hover {
  color:white;
}



/**
 * Forms
 */
form {
  background-color: #8B1E41;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  color: white;
  margin: 1rem auto;
  padding: 1rem;
  width: 265px;
}

input, textarea {
  margin-top: 1rem;
  width: 100%;
}


form.session label, form.assign label {
  border-bottom: 2px solid white;

}

label {

  display: block;
  margin-top: .5rem;
}

textarea {
  resize: none;
  width: 100%;
}

form.session label,
form.editFeature label {
  border-bottom: 2px solid white;
  margin: 1rem 0 0 0;
}

form.session > ul > li, form.assign > ul > li {
  flex-direction: column;
}

label.grade div {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto 0 0;
  text-decoration: none;
  width: 95px;
}

label.grade input {
  margin: 0;
}


@media (min-width: 760px) {
  form {
    width: 35vw;
  }
}

/**
* Error Messages
*/
p.flash {
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  color: red;
  display: flex;
  font-weight: bold;
  height: 3rem;
  justify-content: center;
  margin: 2rem auto 0;
  width: 265px;
}

@media (min-width: 760px) {
  p.flash {
    width: 35vw;
  }
}


/**
* Success Messages
*/

p.success {
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  color: green;
  display: flex;
  font-weight: bold;
  height: 3rem;
  justify-content: center;
  margin: 2rem auto 0;
  width: 265px;
}

@media (min-width: 760px) {
  p.success {
    width: 35vw;
  }
}
