/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}


/**
 * Layout
 */
body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h2,
  footer address {
    width: 40%;
  }
}


/**
 * Forms
 */
form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 35vw;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}

.namebar {
  align-items: center;
  background-color: maroon;
  color: white;
  list-style-type: none;
  font-variant: small-caps;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.namebar-item {
  width: auto;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.namebar-name {
  font-size: 22px;
  margin-right: 20px;
}

.namebar-logout {
  font-size: 18px;
  background-color: lightgrey;
  color: black;
  text-decoration: none;
  padding: 4px;
}
.return {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  font-size: 18px;
  font-variant: small-caps;
  margin-left: 10px;
}
.home-button {
  color: black;
  background-color: lightgrey;
  border: 1px solid darkgrey;
  margin-left: 20px;
  padding: 0px 2px 1.5px 2px;
  font-size: 18px;
  font-variant: small-caps;
  text-decoration: none;
}

.teacher_forms {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  text-align: left;
  align-items:center;
}

.teacher_home_form{
  background-color: #fac0c0;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  text-align: left;
  width: 75%;
}

.submit {
  font-variant: small-caps;
  margin: 10px 0 10px 0;
}

.form-label {
  font-variant: small-caps;
  background-color: #fac0c0;
  margin: 10px 0 10px 0;
  padding: 5px;
}
.course-list-action {
  width: 100px;
  border: none;
  padding: 15px;
  margin: 0;
}
.course-description {
  width: 100%;
  height: 400px;
}

.major-dropdown {
  width: 100px;
  font-size: 18px;
}

.course {
  display: block;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px 0 20px 0;
  justify-content: center;
  align-items: center;

}
.courses-main {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-variant: small-caps;
  display: flex;
  flex-direction: row;
}
.courses {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:100%;
}

.course-table-header {
  color: black;
  background-color: white;
  width: 28%;
  margin: 5px;
}
.course-table-header1 {
  color: black;
  background-color: white;
  width: 110px;
  margin: 5px;
}
.about-course1 {
  width: 120px;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 5px 5px 0 5px;
  align-items: center;

}
.about-course {
  width: 30%;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 9px 0 0 5px;
  align-items: center;
}
.about-course-form {
  width: 100%;
  background-color: lightgrey;
  padding: 0;
  margin: 0;
  border: none;
  justify-content: center;

}
.course-button {
  background-color: #fac0c0;
  border: 1px solid black;
  font-variant: small-caps;
  width: 80px;
  margin: 5px;
}

.course-view {
  font-size: 26px;
  font-variant: small-caps;
  margin-right: 20px;
}
.content {
  font-size: 18px;
}
.link-button {
  display: block;
  text-decoration: none;
  border: 1px solid darkred;
  background-color: maroon;
  border-radius: 25%;
  color: white;
  text-align: center;
  font-variant: small-caps;
  width: 15%;
  margin: 10px;
  padding: 5px;
}

.link-something {
  display: block;
}
