/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}


/**
 * Layout
 */

 ul {
   display: block;
   list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
 }

body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h2,
  footer address {
    width: 40%;
  }
}


/**
 * Forms
 */

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.namebar {
  align-items: center;
  background-color: maroon;
  color: white;
  list-style-type: none;
  font-variant: small-caps;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.namebar-item {
  width: auto;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.namebar-name {
  font-size: 22px;
  margin-right: 20px;
}

.namebar-logout {
  font-size: 18px;
  background-color: lightgrey;
  color: black;
  text-decoration: none;
  padding: 4px;
}
.return {
  background-color: lightgrey;
  border: 1px solid darkgrey;
  font-size: 18px;
  font-variant: small-caps;
  padding-top: 2px;
  margin-right: 20px;
}

.home-buttons {
  display: inline-block;
}
.home-button {
  color: black;
  background-color: lightgrey;
  border: 1px solid darkgrey;
  margin-top: 3px;
  padding: 0px 18.5px 1.5px 18.5px;
  font-size: 18px;
  font-variant: small-caps;
  text-decoration: none;

}

.teacher_forms {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  text-align: left;
  align-items:center;
}

.teacher_home_form{
  background-color: #fac0c0;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  text-align: left;
  width: 75%;
  padding: 20px;
}

.submit {
  font-variant: small-caps;
  margin: 30px 0 10px 0;
  width: 20%;
}

.form-label {
  margin-top: 10px;
  font-variant: small-caps;
  background-color: #fac0c0;
}

.form-label2 {
  font-size: 26px;
  margin-top: 10px;
  font-variant: small-caps;
  background-color: #fac0c0;
}

.course-list-action {
  width: 100px;
  border: none;
  padding: 15px;
  margin: 0;
}
.course-description {
  width: 100%;
  height: 400px;
}

.major-dropdown {
  width: 200px;
  font-size: 18px;
}

.course {
  display: block;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px 0 20px 0;
  justify-content: center;
  align-items: center;

}
.courses-main {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-variant: small-caps;
  display: flex;
  flex-direction: row;
}

.courses-table-header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  width: 100%;
}

.courses-header {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 30%;
  list-style-type: none;
}
.courses-header2 {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 150px;
  list-style-type: none;
}

.courses {
  display: block;
}

.course-info {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  width: 100%;
}

.course-list {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 30%;
  list-style-type: none;
  border: 1px solid black;
}

.course-list2 {
  list-style-type: none;
  background-color: #fac0c0;
  text-decoration: none;
  color: black;
  font-variant: small-caps;
  text-align: center;
  border: 1px solid black;
  width: 150px;
  padding: 5px;
}

.home-options{
  height: 30px;
}
aside {
  display: block;
}

.course-options {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.course-options-item {
  background-color: #fac0c0;
  font-variant: small-caps;
  border: 1px solid darkgrey;
  padding: 3px 5px 3px 5px;
  margin: 5px 10px 5px 0px;
}

.session-add-button {
  background-color: #fac0c0;
  font-variant: small-caps;
  border: 1px solid darkgrey;
  padding: 3px 5px 3px 5px;
  margin: 10px 0 20px 0;
}

.course-button {
  background-color: #fac0c0;
  border: 1px solid black;
  font-variant: small-caps;
  width: 80px;
  margin: 5px;
}

.course-view {
  font-size: 26px;
  font-variant: small-caps;
  margin-right: 20px;
}
.content {
  font-size: 18px;
}
.link-button {
  display: block;
  text-decoration: none;
  border: 1px solid darkred;
  background-color: maroon;
  border-radius: 25%;
  color: white;
  text-align: center;
  font-variant: small-caps;
  width: 15%;
  margin: 10px;
  padding: 5px;
}

.session-table-header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  width:100%;
}
.session-header {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 20%;
  list-style-type: none;
}

.session-header2 {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 150px;
  list-style-type: none;
}

.session-info {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.session-list {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 18%;
  list-style-type: none;
  border: 1px solid black;
}

.session-list1 {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 75px;
  list-style-type: none;
  border: 1px solid black;
}

.session-list2 {
  list-style-type: none;
  background-color: #fac0c0;
  text-decoration: none;
  color: black;
  font-variant: small-caps;
  text-align: center;
  border: 1px solid black;
  width: 120px;
  padding: 5px;
}

.session-list3 {
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 150px;
  list-style-type: none;
  border: 1px solid black;
}

.id {
  font-size: 20px;
  margin-right: 10px;
  color: maroon;
  font-variant: small-caps;
}

.view-assignment-link {
  font-variant: small-caps;
  display: inline-block;
  background-color: #fac0c0;
  border: 1px solid darkgrey;
  text-decoration: none;
  text-align: center;
  width: 300px;
  margin: 10px 0 10px 0;
  color: black;
  padding: 5px 2px 7px 2px;

}

.assignment-link {
  background-color: #fac0c0;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  color: black;
}

.assignment_forms {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border: 1px solid black;
}

.assignment_header {
  margin-bottom: 20px;
}

.assignment-title {
  margin-block-start: 5px;
  margin-block-end: 0;
  margin-inline-start: 5px;
  margin-inline-end: 0px;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.assignment-item {
  margin-block-start: 5px;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px;
}

.assignment-date {
  font-size: 28px;
  font-weight: bold;
  font-variant: small-caps;
  margin-block-start: 5px;
  margin-block-end: 0;
}


table {
  display: block;
  width: 100%;
  border-collapse: inherit;
  border-spacing: 2px;
  border-color: grey;
  text-align: left;
}

tbody{
  background-color: lightgrey;
}

.th1 {
  font-variant: small-caps;
  background-color: white;
  color: black;
  width: 100px;
}

.session-table {
  padding-left: 10px;
}
 .edit-button {
   margin: 0;
   text-align: center;
   padding: 0;
 }

.edit {
  font-variant: small-caps;
  background-color: #fac0c0;
  border: 1px solid maroon;
  padding: 10px 30px 10px 30px;
  margin: 0;
}

.th2 {
  font-variant: small-caps;
  background-color: white;
  width: 25%;
}

.th3 {
  font-variant: small-caps;
  background-color: white;
  width: 18%;
}


.table-buttons{
  border: 1px solid maroon;
  background-color: #fac0c0;
  font-variant: small-caps;
  text-align: center;
  height: 30px;
  width:120px;

.class-list {
  width: 100%;
}

.student-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  background-color: white;
}


.student-name{
  background-color: lightgrey;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 300px;
  list-style-type: none;
  border: 1px solid black;
}

.error {
  margin-left: 20px;
  background-color: lightyellow;
  padding: 3px;
  color: black;
  font-variant: small-caps;
  font-size: 28px;
  font-weight: bold;

}
