{% extends 'layouts/base.html' %}

{% block title %}TSCT Portal - Edit Course{% endblock %}

{% block content %}


<header>
  <a class="back" href="{{ url_for('courses.course_manage')}}">Back</a>
</header>


{% for message in get_flashed_messages() %}
  <p class="flash">{{ message }}</p>
{% endfor %}

<section class='edit'>
  <!--Start of section edit-->


  <!--Form for the edit course page
which has three inputs of data-->

  <form class="editFeature" action="{{ url_for( 'courses.course_edit', course_id=course['course_num'] ) }}" method="post">

    <p>The courses current information is displayed
      please fill out all the fields and save changes.</p>

    <ul>

      <li>

        <label for="editTitle">Course Title</label>

        <input type="text" name="editTitle" value="{{ course['course_title'] }}">

      </li>


      <li>

        <label for="editDesc">Course Description</label>

        <input type="text" name="editDesc" value="{{ course['description'] }}">

      </li>


      <li>

        <label for="editCredit">Course Credits</label>

        <input type="text" name="editCredit" value="{{ course['credits'] }}">

      </li>

    </ul>

    <button type="submit" name="courseSaveEdit" value="{{ course['course_num']}}">Save</button>

  </form>

</section>
<!--end of section edit-->


{% endblock%}
