{% extends 'layouts/base.html' %}

{% block title %}Select Assignments{% endblock %}

{% block content %}
  <form action="{{ url_for('assign_submit') }}" method="post">
    <ul>
      {% for assignment in assigns %}
        <li>
          {{ assignment['name'] }}
          <input type="date" name="date" required>
          <input type="hidden" name="id" value="{{ assignment['id'] }}">
        </li>
      {% endfor %}
    </ul>
    <button type="submit" name="submit">Confirm Dates</button>
  </form>
{% endblock %}
