{% extends "layouts/base.html" %}

{% block title %} Course Selection {% endblock %}

{% block content %}
<body>
  <section>
<form method="post">
  {% for course in courses %}
    <!-- If subject is Math then display in Math box -->
  {% if course['major'] == 'CSET' %}
    <ul>
      <li>
      <label>CSET</label>
    <label>{{ course['course_name'] }}</label>
    <input type="checkbox" value="{{ course['id'] }}"/>
    </li>
    </ul>
    {% endif %}
    <!-- If subject is reading then display in reading box -->
    {% if course['major'] == 'Masonry' %}
      <ul>
        <li>
        <label>Masonry</label>
      <label>{{ course['course_name'] }}</label>
      <input type="checkbox" value="{{ course['id'] }}"/>
      </li>
      </ul>
      {% endif %}
      <!-- If subject is Humanities then display in Huamnities box -->
      {% if course['major'] == 'GEN-ED' %}
        <ul>
          <li>
        <label>Gen-Ed</label>
        <label>{{ course['course_name'] }}</label>
        <input type="checkbox" value="{{ course['id'] }}"/>
        </li>
        </ul>
      {% endif %}
    {% endfor %}
    <button type="submit" name="submit-class"></button>
  </form>
  </section>
  </body>
{% endblock %}
