{% extends "layouts/base.html" %}

{% block title %}Course creation{% endblock %}

{% block content %}
  <form method="post" class="createCourse">
    <label for="code">Course Code
      <input type="number" name="code" required/>
    </label>
    <label for="name">Course Name
      <input type="text" name="name" required/>
    </label>
    <label for="major-select">Choose a Major:
      <select name="major">
        <option value="CSET" selected>CSET</option>
        <option value="GEN">GEN</option>
        <option value="ARCH">ARCH</option>
      </select>
    </label>
    <label for="description">Course description
      <input type="text" name="description" required/>
    </label>
    <input class="submitCourse" type="submit"/>
  </form>
  <a href="{{ url_for('teacher.home') }}">Cancel</a>
{% endblock %}
