{% extends "layout/base.html" %}

{% block title %}Course creation{% endblock %}

{% block content %}

<form>
  <label for="Class-Name">Class-Name
    <input type="Class-Name" name="Class-Name" />
    <label for="Class-Subject">Class-Subject
      <h2>Mathematics</h2>
      <input type="checkbox" name="Mathematics"/>
      <h2>English</h2>
      <input type="checkbox" name="English"/>
      <h2>Humanities</h2>
      <input type="checkbox" name="Humanities"/>
      <h2>Sciences</h2>
      <input type="checkbox" name="Sciences"/>
      <h2>Health</h2>
      <input type="checkbox" name="Health"/>
    <label for="Class-Time and Date">
      <input type="time" name="time" />
    </label>
  </label>
  </form>

{% endblock %}
