{% extends 'layouts/base.html' %}

{% block title %}Create a Session{% endblock %}

{% block content %}
  <!-- Create a list of students that can be added to the session about to be created -->
  <form method="post">
    <ul class="add-students">
      {% for student in students %}
        <li>
          {{ student['last_name'] }}, {{ student['first_name'] }}
          <input type="checkbox" name="{{ student['id'] }}" value="{{ student['id'] }}">
        </li>
      {% endfor %}
    </ul>
    <button type="submit" name="add">Add to Session</button>
  </form>
  <!-- Show a list of students already added to the session about to be created -->
  <form action="{{ url_for(placeholder) }}" method="post">
    <ul class="roster">
      {% for student in roster %}
        <li>
          {{ student['last_name'] }}, {{ student['first_name'] }}
          <input type="checkbox" name="{{ student['id'] }}" value="{{ student['id'] }}">
        </li>
      {% endfor %}
    </ul>
    <button type="submit" name="remove">Remove from Session</button>
  </form>

  <form action="{{ url_for(placeholder) }}" method="post">
    <!-- Set dates and times for the session -->

    <!-- Create the session -->
    <button type="submit" name="create-session">Create Session</button>
  </form>
{% endblock %}
