{% extends 'layouts/base.html' %}

{% block title %}Create a Session{% endblock %}

{% block content %}
  <!-- Create a list of students that can be added to the session about to be created -->
  <form action="{{ url_for('teacher.session_add') }}" method="post">
    <ul class="add-students">
      {% for student in students %}
        <li>
          {{ student['last_name'] }}, {{ student['first_name'] }}
          <input type="checkbox" name="{{ student['id'] }}" value="{{ student['id'] }}">
        </li>
      {% endfor %}
    </ul>
    <button type="submit">Add to Session</button>
  </form>
  <!-- Show a list of students already added to the session about to be created -->
  <form action="{{ url_for('teacher.home') }}" method="post">
    <ul class="roster">
      {% for student in roster %}
        <li>
          {{ student['last_name'] }}, {{ student['first_name'] }}
          <input type="checkbox" name="{{ student['id'] }}" value="{{ student['id'] }}">
        </li>
      {% endfor %}
    </ul>
    {% if roster %}
      <button type="submit" name="remove">Remove from Session</button>
    {% endif %}
  </form>

  <form action="{{ url_for('teacher.session_submit') }}" method="post">
    <!-- Set dates and times for the session -->
    <label for="meeting_days">Meeting Days:</label>
    <input type="text" name="meeting_days" maxlength="6" size="8">
    <!-- Set a name for the session -->
    <label for="session_name">Session Code</label>
    <input type="text" name="session_name" maxlength="1" size="2">
    <!-- Create the session -->
    <button type="submit">Create Session</button>
    <button formaction="{{ url_for('teacher.session_cancel') }}" type="submit" name="button">Cancel Session</button>
  </form>
{% endblock %}
