{% extends "layouts/base.html" %}
{% include 'layouts/teacher-nav.html' %}

{% block title %}Course-Edit{% endblock %}

{% block content %}
  <form method="post">
    <label for="code">Course Code
      <input type="number" name="code" required/>
    </label>
    <label for="name">Course Name
      <input type="text" name="name" required/>
    </label>
      <select name="major">
        <option value="CSET" selected>CSET</option>
        <option value="GEN">GEN</option>
        <option value="MASN">MASN</option>
      </select>
    <label for="description">Course description
      <input type="text" name="description" required/>
    </label>
    <input type="submit" />
  </form>
{% endblock %}
