{% extends "layouts/base.html" %}

{% block content %}

  <h1>welcome to teacher home page</h1>
<section class="course-list">
  <table class="course-table">
    {% for course in courses %}
    <tr>{{ course['major'] }}</tr>
    <tr>{{ course['name'] }} </tr>
    <tr>{{ course['description'] }}</tr>
  <form class="course-list-action" action="{{ url_for('portal.edit', id=course[0]) }}" method="get">
    <button type="Submit" name="edit" class="course-button">Edit</button>
  </form>
  <form class="course-list-action" action="{{ url_for('portal.delete', id=course[0]) }}" method="post">
    <button type="Submit" name="edit" class="course-button">delete</button>
  </form>
  {% endfor %}
  </section>

  <a class="link-button" href="{{ url_for('portal.create') }}">create new course</a>

{% endblock %}
