{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}

<article class="home_page">

  <h2>Home</h2>


  <section class='helpfulLinks'>

    {% if g.user['role'] == 'teacher' %}


        <a href="{{ url_for('courses.course_manage')}}">Course Management</a>


    {% endif %}

    {% if g.user['role'] == 'student' %}

    <a href="{{ url_for('student_views.view_schedule') }}">View your schedule</a>

    {% endif %}


  </section>

</article>




{% endblock %}
