<!-- This page is the first page a student user sees when they login -->
{% extends "layouts/base.html" %}

{% block title %}TSCT student{% endblock %}

{% block content %}

  <section>
    <!-- Greets user -->
    <h2>Hello <span class="greetingname">{{ g.user['first_name']}}!</span></h2>
  </section>
  <!-- g.user looks for information in user table.
  This will loop and see how many classes the user has
  and then put them in a list element -->
  <!-- {% if g.user %}

    <ul>
      {% for name in courses %}
        The content in the list element should be an anchor to the course page
        <li>{{ name['course_name'] }}</li>
      {% endfor %}
    </ul>
  {% endif %} -->

  <!-- Shows scheduling for classes -->
  <section id="schedule">
    {% if g.user %}
      <ul>
        {% for scheduling in courses %}
          <li>
            {{ scheduling['course_name'] }}
            {{ scheduling['course_code'] }},

            {{ scheduling['session_name'] }},
            {{ scheduling['meeting_days'] }},
            {{ scheduling['meeting_time'] }},
            {{ scheduling['meeting_place'] }}
            <button type="submit" name="scheduling['session_id']" value="scheduling['session_id']" formaction="url_for('student.assignments')">assignments</button>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endblock %}
