{% extends 'layouts/base.html' %}


<h2>Roster for session {{ session['name'] }}</h2>


<form class="" action="{{ url_for('sessionEditor.create_roster', id=session['id'], roster_id=roster['id'])}}" method="post">

  <label for="studentsCreate">Students</label>

  <select class="" name="students" multiple required>
    {% for student in students %}
    <option value="{{ student['user_id'] }}">{{ student['email'] }}</option>
    {% endfor %}
  </select>

  <input type="submit" name="studentsCreateButton" value="">
</form>


{% block content %}
{% endblock %}
