{% extends "layouts/base.html" %}

{% block title %}TSCT student{% endblock %}

{% block content %}

  <!-- Shows scheduling for classes -->
  <section id="grade">
    {% if g.user %}
    <h2>{{ session_info['major'] }} {{ session_info['course_code'] }} {{ session_info['session_name'] }} {{session_info['course_name']}} </h2>
      <ul>
        {% for assignment in assignments %}
          <li>
            <h2>{{ assignment['name'] }}</h2>
            <p>Points: {{ assignment['grades'] }}/{{ assignment['points'] }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endblock %}
