{% extends "base.html" %}
{% block content %}

<h2>Edit Assignment: {{ assignment['assignment_id']}}</h2>
<form class="teacher_home_form" method="post">
  <label class="form-label" for="name">Assignment Name:</label>
  <input type="text" name="name" value="{{assignment['name']}}">
<label class="form-label" for="name">Description:</label>
  <textarea class="course-description" name="description">{{ assignment['description'] }}</textarea>
<label class="form-label" for="date">Assignment Due:</label>
  <input type="date" name="date" value="{{ assignment['due_date']}}" required>
  <input  class="submit" type="submit" value="save changes">
</form>

{% endblock %}
