{% extends "base.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}
{% if g.user['id'] == course['teacherid'] %}
<a href="{{ url_for('assignment.create_assignment', id=id, course_id=course['course_id'])}}" class="view-assignment-link">
  create new assignment
</a>
{% endif %}
<h3>{{ course['class_name']}}</h3>
<h3>SESSION {{id}}</h3>

<section class="assignments">
  <table class="assignment-table">
    <tbody>
      <tr>
        <th class="th1">id</th>
         <th class="th3">name</th>
         <th class="th5">description</th>
         <th class="th1">due date</th>
         <th class="th1"></th>
         <th class="th1"></th>
      </tr>
      {% for assignment in assignments %}
      <tr>
        <td >{{ assignment['assignment_id']}}</td>
        <td >{{ assignment['name'] }}</td>
        <td >{{ assignment['description'] }}</td>
        <td >{{ assignment['due_date'] }}</td>
    {% if g.user['id'] == course['teacherid'] %}
        <td ><a class="edit-button2" href="{{ url_for('assignment.edit_assignments',
    id=assignment['assignment_id'], session_id=assignment['session_id'],
    course_id=course['course_id']) }}">edit</a></td>
      <td class="td-assign">
        <form class ="delete-form" action="{{ url_for('assignment.delete_assignments',
      id=assignment['assignment_id'], session_id=assignment['session_id'], course_id=course['course_id']) }}" method="post">
        <input class="edit-button" onclick="submit" type="submit" name="delete" value="delete">
      </form>
      </td>
    {% endif %}
    {% if g.user['role'] == 'student' %}
      <td class="td-assign-button"><a class="link" href="{{ url_for('student.assignment_grade',
        id=assignment['assignment_id'], session_id=assignment['session_id'],
        course_id=course['course_id']) }}">see grade</a></td>
    {% endif %}
    {% if g.user['role'] == 'teacher' %}
      <td class="td-assign-button"><a class="link" href="{{ url_for('main.teacher_assignment_grades',
        assignment_id=assignment['assignment_id'], session_id=assignment['session_id'],
        course_id=course['course_id']) }}">see grades</a></td>
    {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>

</section>


{% endblock %}
