{% extends 'layouts/base.html' %}

{% block content %}
<section class='edit'>
<h2>Edit page for {{ course['course_title']}}</h2>

<ul>



<li> {{ course['course_title'] }}

  <form class="editFeature" action="index.html" method="post">
  <input type="text" name="edit" >
  <input type="submit" name="submitEdit" value="{{ courses['course_title']}}">
  </form>


</li>


<li>{{ course['description'] }}

<form class="editFeature" action="index.html" method="post">
<input type="text" name="edit" >
<input type="submit" name="submitEdit" value="{{ courses['description']}}">
</form>

</li>


<li>{{ course['credits'] }}

  <form class="editFeature" action="index.html" method="post">
  <input type="text" name="edit" >
  <input type="submit" name="submitEdit" value="{{ courses['credits']}}">
  </form>

</li>

<li>{{ course['teacher_name'] }}

  <form class="editFeature" action="index.html" method="post">
  <input type="text" name="edit" >
  <input type="submit" name="submitEdit" value="{{ courses['teacher_name'] }}">
  </form>

</li>

<li>{{ course['major_name'] }}

  <form class="editFeature" action="index.html" method="post">
  <input type="text" name="edit" >
  <input type="submit" name="submitEdit" value="{{ courses['major_name']}}">
  </form>

</li>

</ul>


</section>
{% endblock%}
