{% extends 'layouts/base.html' %}

{% block content %}

<header>
  <a href="{{ url_for('courseEditor.course_manage')}}">Back</a>
</header>

<section class='edit'><!--Start of section edit-->

<h2>Edit page for {{ course['course_title']}}</h2>
<!--Form for the edit course page
which has three inputs of data-->
<form class="editFeature" action="{{ url_for( 'courseEditor.course_edit', id=course['course_num'] ) }}" method="post">
<ul>


  <label for="editTitle">Course Title</label><!--Bold in styles-->

<li> {{ course['course_title'] }}


  <input type="text" name="editTitle" required>




</li>

<label for="editDesc">Course Description</label>

<li>{{ course['description'] }}

<input type="text" name="editDesc" required>



</li>

  <label for="editCredit">Course Credits</label>

<li>{{ course['credits'] }}

  <input type="text" name="editCredit" required>



</li>



</ul>

<button type="submit" name="courseSaveEdit" value="{{ course['course_num']}}" >Save</button>

  </form>

</section><!--end of section edit-->


{% endblock%}
