{% extends 'layouts/base.html' %}

{% block content %}

<header>

  <h2>Course Management</h2>
  <a href="{{ url_for('index')}}">Home</a>

</header>


<section course='teacher_courses'><!--Start of teacher edit section-->
<h3>Courses</h3>

<ul>

  {% for course in courses %}<!--Start of courses loop-->

    {% if g.user['id'] == course['teacher_id'] %}<!--Only display if
    the course has users teacher_id -->

  <li>

    <h4>{{ course['course_title'] }}</h4><!--Name of each course from database-->


    <a href="{{ url_for('course_editor.course_edit', id=course['course_num']) }}">Edit</a>

    <a href="{{ url_for('session_editor.session_manage', id=course['course_num'])}}">Sessions</a>

  </li>



      {% if not loop.last %}
    <hr>

      {% endif %}<!--End style if-->

    {% endif %}<!--End g.user if-->

  {% endfor %}<!--End of courses loop-->

</ul>

<h3>Click the  + below to create a new course</h3>

<a href="{{ url_for('course_editor.course_create')}}" name="createButton">+</a>

</section><!-- end of teacher edit section-->
{% endblock %}
