{% extends 'layouts/base.html' %}

{% block content %}
<h2>Course Management</h2>

<section course='teacherCourses'><!--Start of teacher edit section-->
<h3>Courses</h3>

<ul>

  {% for courses in course %}<!--Start of courses loop-->


  <li>

    <h4>{{ courses['course_title'] }}</h4><!--Name of each course from database-->

    <!-- <form class="edit" action="/courseEdit" method="post">
    <input type="text" name="editDescription" value="{{ course['description'] }}" required>
    <input type="text" name="editTitle" value="{{ course['course_title'] }}" required>
    <button type="submit" name="editCourseButton" value="{{ course['id'] }}">Edit</button>
    </form> -->

    <a href="{{ url_for('courseEditor.course_edit', id=courses['course_num']) }}">Edit</a>

    <form class="sessions" action="index.html" method="post">
      <button type="submit" name="showSessionsButton">Sessions</button>
    </form>

  </li>



    {% if not loop.last %}
    <hr>

    {% endif %}
  {% endfor %}<!--End of courses loop-->

</ul>

<a href="{{ url_for('courseEditor.course_create')}}">+</a>

</section><!-- end of teacher edit section-->
{% endblock %}
