{% extends 'layouts/base.html' %}

{% block content%}
<header>
  <h2>Create a New Course</h2>

  <a href="/courseManagement">Back</a>
</header>

<section class='courseCreation'>
<form class="courseCreate" action="/courseCreate" method="post">

<label for="courseTitle">Course Title</label>
<input type="text" name="courseTitle" value="{{ request.form['courseTitle'] }}" required>

<label for="description">Description</label>
<textarea name="description" id=description >{{ request.form['description'] }}</textarea>

<label for="credits">Credits</label>
<input type="text" name="courseCredits" value="{{ request.form['courseCredits'] }}">

<label for="teacher_name">Teacher</label>
<input type="text" name="teacher_name" value="{{ request.form['teacher_name']}}">

<label for="major_name">Major</label>
<input type="text" name="major_name" value="{{ request.form['major_name'] }}">

<input type="submit" name="SaveCourseButton" value="Save">
</form>

</section>
{% endblock %}
