{% extends 'layouts/base.html' %}

{% block title %}TSCT Portal - Edit Session{% endblock %}

{% block content %}
<header>

  <h2>Edit Session {{ session['name'] }}</h2>

  <a class="back" href="{{ url_for('session_editor.session_manage', id=course['course_num']) }}">Back</a>

</header>



{% for message in get_flashed_messages() %}
  <p class="flash">{{ message }}</p>
{% endfor %}

<section class='courseSession'>
  <!--Start section edit session-->


  <!--Updates the selected info via the forms and route-->
  <form class="session" action="{{ url_for('session_editor.session_edit', course_id=session['course_id'], sessions_id=session['id']) }}" method="post">

    <ul>

      <li>

        <label for="editName">Name</label>

        {{ session['name'] }}

        <input type="text" name="editName" required>

      </li>



      <li>

        <label for="editTimes">Times</label>

        {{ session['times'] }}

        <input type="text" name="editTimes" required>

      </li>



      <li>

        <label for="editRoom">Room Number</label>

        {{ session['room_number'] }}

        <input type="text" name="editRoom" required>

      </li>



      <li>

        <label for="editLocal">Location</label>

        {{ session['location'] }}

        <input type="text" name="editLocal" required>

      </li>


    </ul>

    <input type="submit" name="sessionEditSumbit" value="Save">

  </form>

</section>
<!--End section-->


{% endblock %}
