{% extends "base.html" %}

{% block title %}Teacher Home Page{% endblock %}

{% block content %}
<article class="majors-list">
 <h2>view courses by</h2>
 <a href="">majors</a>
</article>

    <h2>Course List</h2>
    <article class="course">
      <header class="courses-main">
        <ul class="courses-table-header">
          <li class="courses-header">course id:</li>
          <li class="courses-header">course name:</li>
          <li class="courses-header">teacher:</li>
          <li class="courses-header">major:</li>
          <li class="courses-header2"></li>
        </ul>
      </header>
       {% for course in courses %}
      <section class= "courses">
        <ul class="course-info">
           <li class="course-list"> {{ course['course_id'] }}
           <li class="course-list"> {{ course['name'] }}
           <li class="course-list"> {{ course['teacher_name'] }}
           <li class="course-list"> {{ course['major'] }}
           <li class="course-list2"><a href="{{ url_for('course.view', id=course['course_id']) }}">view</a>
         </ul>
      </section>
        {% endfor %}
    </article>
    <section class="teacher-links">

      <a class="link-button" href="{{ url_for('course.create') }}">create new course</a>
      <a class="link-button" href="">session rosters</a>
      <a class="link-button" href="">sessions</a>
      <a class="link-button" href="">assignments</a>

    </section>
{% endblock %}
