{% extends "base.html" %}

{% block title %}Teacher Home Page{% endblock %}

{% block content %}
<article class="majors-list">
 <h2>view courses by</h2>
 <a href="">majors</a>
</article>

    <h2>Course List</h2>
    <article class="course">
      <header class="courses-main">
      <div class="course-table-header1">course id:</div>
      <div class="course-table-header">course name:</div>
      <div class="course-table-header">teacher:</div>
      <div class="course-table-header">major id:</div>
      <div class="course-table-header1"></div>
      </header>
       {% for course in courses %}
      <section class= "courses">
          <div class="about-course1"> {{ course['course_id'] }} </div>
          <div class="about-course"> {{ course['name']}}</div>
          <div class="about-course"> {{ course['teacher_name']}}</div>
          <div class="about-course"> {{ course['major'] }} </div>
          <div class="about-course1">
            <form class="about-course-form" action="{{ url_for('course.view', id=course['course_id']) }}" method="get">
            <button type="Submit" name="edit" class="course-button">view</button>
          </form>
          </div>
      </section>
        {% endfor %}
    </article>
    <section class="teacher-links">

      <a class="link-button" href="{{ url_for('course.create') }}">create new course</a>
      <a class="link-button" href="">session rosters</a>
      <a class="link-button" href="">sessions</a>
      <a class="link-button" href="">assignments</a>

    </section>
{% endblock %}
