{% extends "base.html" %}

{% block title %}Teacher Home Page{% endblock %}

{% block content %}

    <h2>Course List</h2>
    <article class="course">
      <header class="courses-main">
      <div class="course-table-header">Course Name:</div>
      <div class="course-table-header">Course ID:</div>
      <div class="course-table-header">Teacher:</div>
      <div class="course-table-header">Major ID:</div>
      </header>
       {% for course in courses %}
      <header class= "courses">
          <div class="about"> {{ course['name'] }} </div>
          <div class="about"> {{ course['course_id']}}</div>
          <div class="about"> {{ course['teacherid']}}</div>
          <div class="about"> {{ course['major'] }} </div>
      </header>
        <p class="course-content">{{ course['description'] }} </p>
        {% if g.user['id'] == course['teacherid'] %}
        <form class="course-list-action" action="{{ url_for('portal.edit', id=course['course_id']) }}" method="get">
          <button type="Submit" name="edit" class="course-button">Edit This Course</button>
        </form>
          {% endif %}
        {% endfor %}
    </article>
    <section class="teacher-links">

      <a class="link-button" href="{{ url_for('portal.create') }}">create new course</a>
      <a class="link-button" href="">session rosters</a>
      <a class="link-button" href="">sessions</a>
      <a class="link-button" href="">assignments</a>

    </section>
{% endblock %}
