{% extends 'layouts/base.html' %}

{% block content %}

<header>
  <h2>Sessions for course {{ course['course_title']}}</h2>
  <a href="{{ url_for('courseEditor.course_manage')}}">Back</a>
</header>

<section class='courseSession'>
<h3>Sessions</h3>

  {% for session in sessions %}
    {% if session['course_id'] == course['course_num'] %}

  <h4>{{ session['name'] }}</h4>

  <a href="{{ url_for('sessionEditor.session_edit', id=session['course_id'], sessions_id=session['id']) }}">Edit</a>

    {% endif %}
  {% endfor %}
  <h4>Click the + below to create a new session</h4>
  <a href="#">+</a>
</section>


{% endblock %}
