{% extends 'layouts/base.html' %}
{% include 'layouts/teacher-nav.html' %}

{% block title %}Select Assignments{% endblock %}

{% block content %}
  <ul>
    {% for assignment in assigns %}
      <li>
        <form action="{{ url_for('teacher.assign_submit') }}" method="post">
          {{ assignment['name'] }}
          <label> Due Date
            <input type="date" name="date" required>
          </label>
          <input type="hidden" name="session_id" value="{{ session_id }}">
          <button type="submit" name="assign_id" value="{{ assignment['id']}}">Assign</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('teacher.sessions') }}">Done</a>
{% endblock %}
