{% extends 'layouts/base.html' %}

{% block title %}Edit {{ info['name'] }}{% endblock %}

{% block content %}
  <form action="{{ url_for('teacher.submit_assignments') }}" method="post">
    <label> Assignment Name:
      <input type="text" name="name" value="{{ info['name'] }}">
    </label>
    <label> Description:
      <textarea name="description" rows="5" cols="40">{{ info['description']}}</textarea>
    </label>
    <label> Points:
      <input type="number" name="points" value="{{ info['points'] }}">
    </label>
    <button type="submit" name="submit" value="{{ info['id'] }}">Save</button>
  </form>
{% endblock %}
